@media (max-width: 1024px) {
    .page__event1_img {
        justify-content: space-evenly;
        gap: 20px;
    }
    .event1_img {
        width: 45%;
    }

    .event1_img>img  {
        width: 100%;
    }

}

@media (max-width: 425px) {
.page__event1_img {
    flex-direction: column;
}

.event1_img {
    width: 100%;
}

}