.footer_nav {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.footer__nav>ul {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__nav__link {
    color: #FFFAFA;
    text-decoration: none;
}

.footer__nav__link.about, .footer__nav__link.nursary, .footer__nav__link.school{
    display: flex;
    position: relative;
}

.footer__nav__link.about::after, .footer__nav__link.nursary::after, .footer__nav__link.school::after {
    content: url('../../../images/footer_arrow_down.png');
    margin-top: -5px;
    margin-left: 10px;
}

.footer__nav>ul ul{
    display: none;
}

.footer__nav>ul li ul > li{
    margin-left: 0;
    text-decoration: none;
}

.footer__nav>ul li ul > li a{
    text-decoration: none;
    color: #1F2E19;
}

.footer__nav__link:hover, .footer__nav>ul li ul > li a:hover{
    color: #7BC461;
}

.footer__nav>ul li.hover ul{
    position: absolute;
    z-index: 1;
    display: block;
    background-color: #FFFAFA;
    border-radius: 5px;
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}