.burger__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh; 
    z-index: 1;
    background-color: #F6FCF4;
    padding: 25px 0;
    transform: translateX(100%);
    animation:  toleft 0.8s ease-in-out 0.1s 1 forwards;
    box-sizing: border-box;
}

.header__burger__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.burger__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}


.burger__nav>ul {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
}
.burger__nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #1F2E19;
    text-decoration: none;
}

.burger__nav__link.about, .burger__nav__link.nursary, .burger__nav__link.school{
    display: flex;
    
}

.burger__nav__link.about::after, .burger__nav__link.nursary::after, .burger__nav__link.school::after {
    content: url('../../../images/burger_arrow_down.png');
    margin-top: -2px;
    margin-left: 10px;
    color: #1F2E19;
}

.burger__nav>ul ul{
    display: none;
}

.burger__nav>ul li{
    position: relative;
}

.burger__nav>ul li ul > li{
    margin-left: 0;
    text-decoration: none;
}

.burger__nav>ul li ul > li a{
    text-decoration: none;
    color: #1F2E19;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.burger__nav>ul li.hover ul{
    min-width: 330px;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 1;
    display: block;
    background-color: #fff;
    border-radius: 5px;
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    white-space: nowrap;
}

.burger__btn .contact-data__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.burger__btn .contact-data__socials a {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.burger__btn .contact-data__socials a:first-child {
    width: 55px;
    height: 55px;
    background-image: url('../../../images/burger_instagram.png');
} 

.burger__btn .contact-data__socials a:last-child {
    width: 45px;
    height: 45px;
    background-image: url('../../../images/burger_icons_facebook.png');
} 

.burger__btn .header__btn {
    align-self: center;
    width: 65%;
    padding: 20px 15px;
    font-size: 20px;
    letter-spacing: 2px;

}

.burger__btn__address_elem {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 25px;
    color: #1F2E19;
}

.burger__btn__address_elem > a, .burger__btn__address_elem span{
    color: #1F2E19;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
