@media (max-width: 768px) {
    .page__apply_form {

        width: 65%;
    }
    
    .form__getData {
        width: 100%;
        min-width: 250px;
    }
    
}



@media (max-width: 425px) {

    .page__apply_form  {
        width: 55%;
        min-width: 400px;
        min-height:150px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 100vh 100vh rgba(67, 66, 66, 1);
        padding-bottom: 20px;
    }

    .page__apply_form>div {
        width: 50%;
        min-width: 350px;
    }


    
    .form__getData {
        width: 50%;
        min-width: 350px;
    }



}