.form__content {
    min-width: 550px;
    min-height: 250px;
    position: fixed;
    z-index: 25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    background: #ffff;
    border: 3px solid #7BC461;
    border-radius: 30px;
    box-shadow: 0 0 100vh 100vh rgba(67, 66, 66, 0.8);
    opacity: 0;
    animation: opacity 0.5s ease-in-out 0.1s 1 forwards;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.form__btn__remove {
    background-image: url('../../../images/cross_remove.png');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    padding: 30px;
    transition: transform 1s ease-in-out;
}

.form__btn__remove:hover {
    background-color: rgb(229, 224, 224);
}
.form__btn__remove:active {
    background-color: rgb(143, 138, 138);
    animation: timeout 0.5s ease-in-out 0.1s 1 forwards;
}

.form__items {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #1F2E19; 
    margin-top: -10px;
}


