.anchor {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 30px;
    background: url('../../../images/up-arrow.png') no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: 0.4;
    border-radius: 5px;
}

.anchor:hover {
    opacity: 1;
}