.page__contacts_form {
    width: 450px;
    min-width: 350px;
    min-height: 250px;
    background: #ffff;
    border: 3px solid #7BC461;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form__getData {
    width: 65%;
}

.form__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #1F2E19; 
    padding: 20px;
}

.form__items input {
    width: 100%;
    margin-bottom: 5px;
    background-color: transparent;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #1F2E19;
}

.form__items input:nth-child(3) {
    margin-top: 10px;
}

.form__items input:nth-child(3)::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #A3A39F;
}


.form__btn {
    margin: 0;
    align-self: center;
    margin-top: 30px;
    width: 70%;
    min-width: 200px;
}


.input__phone-incorrect {
    width: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px 0px rgb(53, 52, 52);
    border-radius: 10px;
    min-width: 100px;
    color: crimson;
    font-size: 15px;
    padding: 5px 5px 5px 15px;
    white-space: pre-wrap;
    
}
